body{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(253, 253, 235);
}
nav{
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 65);
    font-size: 2rem;
    text-transform: uppercase;
}
nav ul{
    width: 90%;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 1.5rem;
}

nav ul li{
    display: inline-block;
    padding-left: 30px;
    list-style: none;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    width: 300px;
    height: 100px;
    color: white;
    border: none;
    background: rgb(72, 0, 75);
}

.press{
    color: white;
    font-size: 4rem;
    text-align: center;
}